<div class="panel">
     <div class="panel-heading">Query</div>
    <form class="form-inline">
        
            <h4>Filtri</h4>
            <div>
                <div ng-repeat="filter in queryModel.filters">
                    <div class="row">
                        
                    <div class="col-lg-3">
                        <select class="form-control input-sm" ng-model="filter.field" ng-options="field.name as field.name for field in currentIndicator.fields"></select>
                    </div>
                    
                    
                        <div class="col-lg-3" ng-show="isClass(filter.field)==false">
                            <select class="form-control input-sm" ng-model="filter.operator" ng-options="operator.value as operator.name for operator in filterOperators"></select>
                        </div>
                        <div class="col-lg-3" ng-show="isClass(filter.field)==false">
                            <input type="text" ng-model="filter.value" class="form-control input-sm">
                        </div>
                    

                        
                        <input type="hidden" value="" ng-model="filter.operator" ng-show="isClass(filter.field)==true">
                        
                        <div class="col-lg-3" ng-show="isClass(filter.field)==true">
                            <span>&nbsp;uguale a &nbsp;</span>
                        </div>

                        <div class="col-lg-3" ng-show="isClass(filter.field)==true">
                            <select class="form-control input-sm" ng-model="filter.value" ng-options="key as value for (key , value) in  currentClasses[filter.field]"></select>
                    
                        </div>
                        <div class="col-lg-3">    
                            <button class="btn btn-sm btn-danger" ng-click="removeFilter($index)">Rimuovi filtro</button>
                        </div>

                    </div>
                </div>
            
            
            <div>
                <button class="btn btn-sm btn-primary" ng-click="addFilter()">Aggiungi filtro</button>
            </div>


                <p></p>
                <h4>Aggregazione</h4>
                <div class="control-group">
                      <select class="form-control input-sm" ng-model="queryModel.aggregation" ng-options="operator.value as operator.name for operator in aggregationOperators"></select>

                </div>
                <div class="control-group" ng-show="queryModel.aggregation != ''">
                    <h4>Raggruppamenti</h4>
                    <div ng-repeat="gb in queryModel.groupBy">
                        <div class="row">
                            <div class="col-lg-9">
                                <select class="form-control input-sm" ng-model="gb.name" ng-options="field.name as field.name for field in currentIndicator.fields"></select>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-sm btn-danger" ng-click="removeGroupBy($index)">Rimuovi</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" ng-click="addGroupBy()">Aggiungi group by</button>
                    </div>
                </div>
            
            
            
            
            
            
        </div>

    
      <!--
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
      -->
        <p></p>
        <button class="btn btn-block btn-large" ng-class="{'btn-warning': state.querySync==false, 'btn-success': state.querySync==true }" ng-click="getData()" ng-disabled="state.querySync==true">
            <span ng-show="state.querySync==false">Aggiorna i dati</span>
            <span ng-show="state.querySync==true">Dati aggiornati</span>
        </button>

    </form>
</div>

<div class="well">
    <p>
    {{ currentParams }}
    </p>

</div>